body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    background-size: 4000px;
    background-position-x: 3000px;
    background-image: url("lovepik-simple-business-geometric-background-image_401951014.jpg");
}

h1 {
    color: #ffffff;
}

a {
    color: #ffffff;
}

p {
    color: #ffffff;
}

.caixa1 {
    width: 170px;
    height: 30px;
    padding: 10px;
    background-color: rgb(107, 96, 134);
    box-shadow: 10px 10px;
}

.caixa2 {
    width: 800px;
    height: 80px;
    padding: 10px;
    background-color: rgb(107, 96, 134);
    box-shadow: 10px 10px;
}

.caixa3 {
    width: 1300px;
    height: 80px;
    padding: 10px;
    background-color: rgb(107, 96, 134);
    box-shadow: 10px 10px;
}

.caixa4 {
    width: 800px;
    height: 350px;
    padding: 10px;
    background-color: rgb(107, 96, 134);
    box-shadow: 10px 10px;
}

.caixa5 {
    width: 800px;
    height: 350px;
    padding: 10px;
    background-color: rgb(107, 96, 134);
    box-shadow: 10px 10px;
}

.caixa6 {
    width: 800px;
    height: 200px;
    padding: 10px;
    background-color: rgb(107, 96, 134);
    box-shadow: 10px 10px;
}

img {
    height: 300px;
}

.img2 {
    height: 50px;
}

.img3 {
    height: 200px;
}

video {
    height: 500px;
}

.caixa7 {
    width: 800px;
    height: 150px;
    padding: 10px;
    background-color: rgb(107, 96, 134);
    box-shadow: 10px 10px;
}

.caixa8 {
    width: 750px;
    height: 700px;
    padding: 10px;
    background-color: rgb(107, 96, 134);
    box-shadow: 10px 10px;
}

.banner {
    background: url("banner_yourself.webp") center/cover no-repeat;
    color: white;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 1rem;
    box-shadow: #000000;
}

.banner-content h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
}

.banner-content p {
    font-size: 1.1rem;
}